doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width")
  link(href="css/normalize.css", rel="stylesheet")
  link(href="css/main.css", rel="stylesheet")
  link(href="register.css", rel="stylesheet")
  link(href="css/font-awesome-4.6.3/css/font-awesome.min.css", rel="stylesheet")
body
  .wrapper
    header
      a.autorize-btn(href="#") Авторизоваться
    .content
      img.photo(src="img/", alt="Logo")
      p.name Александр Прикотов
      p.sitetitle Личный сайт веб-разработчика
      .social-btns
        a.vk(href="#")
          i.fa.fa-vk(aria-hidden="true")
        a.git(href="#")
          i.fa.fa-github-alt(aria-hidden="true")
        a.in(href="#")
          i.fa.fa-linkedin(aria-hidden="true")
      .btns
        a.myworks(href="#") Мои работы
        a.aboutme(href="#") Обо мне
        a.blog(href="#") Блог
    footer
      p.copyright Секретный ингредиент: чуточка любви!

//<body>
//  <div class="wrapper">
//
//    <header>
//      <a href="#" class="autorize-btn">Авторизоваться</a>
//    </header>
//
//    <div class="content">
//
//       <div class="btns">
//        <a href="#" class="myworks">Мои работы</a>
//        <a href="#" class="aboutme">Обо мне</a>
//        <a href="#" class="blog">Блог</a>
//      </div>
//    </div>
//    <div class="register-hidden">
//      <img class="photo" src="img/" alt="Logo">
//      <p class="name">Александр Прикотов</p>
//      <p class="sitetitle">Личный сайт веб-разработчика</p>
//
//      <div class="social-btns">
//        <a href="#" class="vk">
//          <i class="fa fa-vk" aria-hidden="true"></i>
//        </a>
//        <a href="#" class="git">
//          <i class="fa fa-github-alt" aria-hidden="true"></i>
//        </a>
//        <a href="#" class="in">
//          <i class="fa fa-linkedin" aria-hidden="true"></i>
//        </a>
//      </div>
//
//       <div class="btns">
//        <a href="#" class="myworks">Мои работы</a>
//        <a href="#" class="aboutme">Обо мне</a>
//        <a href="#" class="blog">Блог</a>
//      </div>
//    </div>
//
//    <footer>
//      <p class="copyright">Создано с любовью</p>
//    </footer>
//  </div>
//
//
//</body>
//</html>