doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width")
  link(href='normalize.css', rel='stylesheet')
  link(href='main.css', rel='stylesheet')
  link(href='myworks.css', rel='stylesheet')
  link(href='font-awesome-4.6.3/css/font-awesome.min.css', rel='stylesheet')
body
  .wrapper
    .promo
      header.myworks-header
        .social-btns
          a.vk(href="#")
            i.fa.fa-vk(aria-hidden="true")
          a.git(href="#")
            i.fa.fa-github-alt(aria-hidden="true")
          a.in(href="#")
            i.fa.fa-linkedin(aria-hidden="true")
      .avatar-block
        img.photo(src="img/", alt="Logo")
        p.name Александр Прикотов
        p.sitetitle Личный сайт веб-разработчика
    .content
      h1.page-title Мои работы
      hr.horizontal-line
      .works-block
        .description
          .work-title Сайт школы онлайн образования
          hr.horizontal-line
          .work-description html, css, javascript
          a.work-site(href="#") Посмотреть сайт
        .presentation
    footer.copyright Создано с любовью